{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  {# Translators: The title of the site that shows up in the top of a browser or in a tag #}
  <title>{% trans "Chinese-American" %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
    {% get_current_language as LANGUAGE_CODE %}
    // code below not yet enabled because we do not yet have translation files and I am not yet ready to write tests
    // and the entire translation handling part of things yet
    // var language = "{{ LANGUAGE_CODE }}";
    var language = "en";
    var ENGLISH = "en";
  </script>
</head>
<body>
<div id="root"></div>
<script src="{% static "pages/index.js" %}"></script>
</body>
</html>