{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  {# Translators: The title of the site that shows up in the top of a browser or in a tab #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% trans "Chinese-American" %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
  <!-- TODO: Add shims for legacy browsers -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- TODO: Minify all this react stuff before hitting production -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react-modal/0.3.0/react-modal.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.js"></script>
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "pages/index.css" %}">
  <script>
    {% get_current_language as LANGUAGE_CODE %}
    // code below not yet enabled because we do not yet have translation files and I am not yet ready to write tests
    // and the entire translation handling part of things yet
    // var language = "{{ LANGUAGE_CODE }}";
    var language = "en";
    var ENGLISH = "en";
    var ADOPTEE_LIST_ENDPOINT = "{% url "adopteeList" %}";
    var ADOPTEE_DETAIL_ENDPOINT = "{% url "adopteeDetail" 999 %}";
    var ADOPTEE_SEARCH_ENDPOINT = "{% url "adopteeSearch" 999 %}";
    var ADOPTEE_CREATE_ENDPOINT = "{% url "adopteeCreate" %}";
    var CATEGORY_ENDPOINT = "{% url "categoryListAndCreate" %}";
    var CK_EDITOR_URL = "{% static "pages/ckeditor/ckeditor.js" %}";
    var STORYTELLER_ENDPOINT = "{% url "storytellerCreate" %}";
  </script>
  <!-- TODO: Add opengraph integration at Jena's request -->
</head>
<body>
<div id="root"></div>
<script src="{% static "pages/ReactScriptLoader.js" %}"></script>
<script src="{% static "pages/Dropzone.js" %}"></script>
<script src="{% static "pages/index.js" %}"></script>
</body>
</html>