{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% trans "Chinese-American" %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
</head>
<body>
<div id="root"></div>
<script src="{% static "pages/index.js" %}"></script>
</body>
</html>