p, button, a, h1, h2, h3, a, h4, h5, h6 {
    font-family: notoSerif, Palatino, "Palatino Linotype", serif, "SimSun", "STHeiti Light", "华文细黑", "宋体";
}

a {
    color: #E64C3B;
}

p {
    font-size: 16px;
    color: #333;
}

.otherLanguagePromptContainer {
    position: absolute;
    height: 25px;
    top: 0;
    right: 20px;
}

.otherLanguagePromptContainer:before {
    content : "";
    position: absolute;
    left    : 5%;
    bottom  : 0;
    height  : 2px;
    border-bottom: 2px solid #E64C3B;
    padding-bottom: 5px;
    width: 90%;
}

.otherLanguagePromptContainer a {
    margin: 0 auto;
}

.button {
    font-size: 18px;
    height: 55px;
    width: 200px;
    background-color: #FFF;
    color: #E64C3B;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    text-align: center;
    border: 2px solid #E64C3B;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button.active {
    background-color: #E64C3B;
    color: #FFF;
}

.button:hover {
    background-color: #EBF0F0;
    /*box-shadow: none;*/
}

.headerRow .button {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 25px;
}

.buttonContainer {
    margin: 0 0 50px;
    text-align: center;
}

.buttons {
    display: inline-block;
}

.summaryRow {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.summaryContainer {
    text-align: center;
}

.summaryContainer p {
    text-align: center;
    display: inline-block;
    max-width: 490px;
}

.story-card {
    background: #FFFFFF;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .1);
    height: 400px;
    overflow: hidden;
}

#front-page-header {
    margin-top: 22px;
    margin-bottom: 12px;
}

#header-bottom-row {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 33px;
}

.logoSwitchLinkContainer {
    text-align: center;
    margin: 20px 0;
}

.logoSwitchLinkContainer a {
    float: right;
}

.logo {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#header-bottom-row p {
    line-height: 2;
}

#header-bottom-row button {
    margin-left: 4px;
    margin-bottom: 16px;
}

.story-card h2, .story-card h3 {
    margin-top: 10px;
}

.story-card img {
    width: 100%;
    border-width: 2px;
    border-style: none none solid none;
    border-color: #E64C3B;
}

.story-container {
    overflow: hidden;
    margin: 13px auto 0;
    width: 90%;
    padding-top: 12px;
    border-style: solid none none;
    border-color: #ddd;
    border-width: 2px;
}

.story-text {
    font-size: 14px;
}

.story-card {
    position: relative;
}

.detail-link-container {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: rgb(255, 255, 255);
}

.detail-link {
    position: absolute;
    bottom: 10px;
    right: 24px;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal-content .adopteeName h2 {
    margin-top: 26px;
    margin-bottom: 0;
}

.modal-content .adopteeName h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.modal-content h2 {
    font-size: 26px;
}

.modal-content h3 {
    font-size: 22px;
}

.modal-content .adopteeName {
    margin: 0 10px;
    padding-bottom: 15px;
}

.modal-content .storyTeller {
    margin: 0 10px;
}

.modal-content .storyTeller {
    border-top: 1px solid #ddd;
}

.modal-content .storyTeller.middle, .modal-content.storyTeller.last {
    padding-top: 5px;
}

.modal-content .storyTeller.first, .modal-content .storyTeller.middle {
    padding-bottom: 20px;
}

#close-button {
    position: absolute;
    top: -25px;
    right: -25px;
}

.storyTeller h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.storyTeller h3 {
    margin-top: 0;
}

.modal-content h4 {
    color: #999;
}

.modal-content h3 {
    color: #999;
}

.modal-content h2 {
    color: #333;
}

.media-container .media-caption {
    float: right;
}

#close-row .glyphicon-remove-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8em;
    z-index: 999999;
}

#close-row .glyphicon-remove-circle:hover {
    color: #b0b0b0;
    cursor: pointer;
}

.adopteeName h3 {
    margin-top: 0;
}

.adopteeName h2 {
    margin-bottom: 5px;
}

.storyTeller h4 {
    font-style: italic;

}

.media-container {
    float: right;
    margin: 10px;
    width: 60%;
    max-height: 400px;
    overflow: hidden;
}

.media-container img {
    float: right;
    max-height: 350px;
}

.adopteeListingDropdown {
    background: #FFFFFF;
    border: 1px solid #838383;
    box-shadow: 0px 10px 8px 2px rgba(124, 124, 124, 0.50);
    border-radius: 6px;
    overflow: scroll;
    max-height: 300px;
}

.adopteeListing {
    height: 80px;
    border-bottom: 1px solid;
    border-bottom-color: #e6e6e6;
    padding: 12px 5px;
}

.adopteeListing:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.adopteeListingName, .adopteeListingPhoto {
    height: 85%;
}

.adopteeListingPhoto {
    min-width: 20%;
    display: block;
    text-align: right;
    margin-right: 13px;
}

.adopteeListingPhoto img {
    max-height: 100%;
    max-width: 100%;
    display: inline;
    float: right;
}

.adopteeListingName {
    min-width: 75%;
    max-width: 75%;
    display: inline;
    float: left;
    margin-left: 12px;
}

.adopteeListing h4 {
    margin: 10px 0px 0px 0px;
}

.adopteeListing h3 {
    margin: 0;
}

#hasNoOtherContentButton {
    margin-right: 50px;
}

/* TODO: Come back in and do a real rather than hackey fix */
.cke_notification {
    display: none;
}

.tiny-tos {
    font-size: 12px;
}

.front-page-card {
    margin: 25px 0;
}

.front-page-card .adopteeName {
    width: 90%;
    margin: 0 auto;
}

.front-page-card .adopteeName h2 {
    font-size: 26px;
}

.front-page-card .adopteeName h3 {
    font-size: 22px;
}
