h1, h2, h3, a, h4, h5, h6 {
    font-family: georgia;
}

p {
    font-family: times;
}

.story-card {
    background: #FFFFFF;
    border: 1px solid #838383;
    box-shadow: 0px 10px 8px 2px rgba(124, 124, 124, 0.50);
    border-radius: 6px;
    padding: 0px 25px;
    height: 400px;
    overflow: hidden;
}

#front-page-header {
    margin-top: 22px;
    margin-bottom: 12px;
}

#header-bottom-row {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 33px;
}

#header-bottom-row p {
    line-height: 2;
}

#header-bottom-row button {
    margin-left: 4px;
    margin-bottom: 16px;
}

.story-card h2, .story-card h3 {
    margin-top: 10px;
}

.story-card img {
    max-height: 60%;
    max-width: 60%;
    padding-top: 3px;
    float: right;
    margin: 10px;
}

.story-container {
    max-height: 65%;
    overflow: hidden;
    margin-top: 18px;
}

.story-card {
    position: relative;
}

.detail-link {
    position: absolute;
    bottom: 10px;
    left: 24px;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.media-container .media-caption {
    float: right;

}

#close-row .glyphicon-remove-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8em;
    z-index: 999999;
}

#close-row .glyphicon-remove-circle:hover {
    color: #b0b0b0;
    cursor: pointer;
}

.adopteeName h3 {
    margin-top: 0;
}

.adopteeName h2 {
    margin-bottom: 5px;
}

.storyTeller h3 {
    margin-top: 20px;
    font-weight: bold;
}

.storyTeller h4 {
    font-style: italic;
}

.media-container {
    float: right;
    margin: 10px;
    width: 60%;
    max-height: 400px;
    overflow: hidden;
}

.media-container img {
    float: right;
    max-height: 350px;
}

.adopteeListingDropdown {
    background: #FFFFFF;
    border: 1px solid #838383;
    box-shadow: 0px 10px 8px 2px rgba(124, 124, 124, 0.50);
    border-radius: 6px;
    overflow: scroll;
    max-height: 300px;
}

.adopteeListing {
    height: 80px;
    border-bottom: 1px solid;
    border-bottom-color: #e6e6e6;
    padding: 12px 5px;
}

.adopteeListing:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.adopteeListingName, .adopteeListingPhoto {
    height: 85%;
}

.adopteeListingPhoto {
    min-width: 20%;
    display: block;
    text-align: right;
    margin-right: 13px;
}

.adopteeListingPhoto img {
    max-height: 100%;
    max-width: 100%;
    display: inline;
    float: right;
}

.adopteeListingName {
    min-width: 75%;
    max-width: 75%;
    display: inline;
    float: left;
    margin-left: 12px;
}

.adopteeListing h4 {
    margin: 10px 0px 0px 0px;
}

.adopteeListing h3 {
    margin: 0px;
}

#beContactedButton {
    margin-right: 160px;
}

#hasNoOtherContentButton {
    margin-right: 245px;
}